<div class="container">

  <div class="row">


    <div class="flex-column">
      <div class="jumbotron">

        <div [hidden]="submitted">
          <h1>Capture Objective</h1>
          <form #ObjectiveForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Objective</label>
              <input #name="ngModel" [(ngModel)]="model.name" class="form-control"
                     id="name"
                     name="name" required
                     type="text">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Name is required
              </div>
            </div>


            <div class="p-5">
            <button [disabled]="!ObjectiveForm.form.valid" class="btn btn-success" type="submit">Save Objective</button>
            <button (click)="newObjective(); ObjectiveForm.reset()" class="btn btn-default" type="button">New Objective
            </button>
            </div>
          </form>
        </div>

      </div>

    </div>


  </div>

</div>
