<app-objectives></app-objectives>

<div *ngIf="objective">
  <h2>{{objective.name | uppercase}} Details</h2>
<!--  <div><span>id: </span>{{objective.id}}</div>-->

  <form class="form1" action="">
    <label for="objective-name" class="first-name">Name</label>
    <input id="objective-name" [(ngModel)]="objective.name" placeholder="Objective name"/>

    <label for="objective-description" class="first-name">Description</label>
    <input id="objective-description" [(ngModel)]="objective.description" placeholder="Objective description"/>

    <!-- Filler for proper placement of buttons   -->
    <label for="objective-description" class="first-name"></label>
<!--    <div>-->
    <button class="button-left" (click)="goBack()">Go Back</button>
    <button class="button-right" (click)="save()">Save</button>
<!--    <button class="button-right" (click)="save()">save</button>-->
<!--    </div>-->

  </form>



</div>

