<h2>Top Objectives</h2>
<div class="objectives-menu">
  <a *ngFor="let objective of objectives"
     routerLink="/objectives/detail/{{objective.id}}">
    {{objective.name}}
  </a>
</div>

<app-objective-search></app-objective-search>

<h1>Angular 11 Install Material Design Example - ItSolutionStuff.Com</h1>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name:</mat-label>
    <input matInput placeholder="Ex. Hardik" value="Hardik">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address:</mat-label>
    <textarea matInput placeholder="Ex. 204, Sarvo, India"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit!</button>
</form>
