<div class="title">Carousel Title</div>
<ngb-carousel>
  <ng-template ngbslide="">
    <img alt="Random first slide" src="https://lorempixel.com/900/500?r=1">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      Nulla vitae elit libero, a pharetra augue mollis interdum.
    </div>
  </ng-template>
  <ng-template ngbslide="">
    <img alt="Random second slide" src="https://lorempixel.com/900/500?r=2">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </ng-template>
  <ng-template ngbslide="">
    <img alt="Random third slide" src="https://lorempixel.com/900/500?r=3">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    </div>
  </ng-template>
</ngb-carousel>
