<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/objectives">Objectives</a>
      <a mat-list-item href="/keyresults">Key Results</a>
      <a mat-list-item href="/kpis">KPIs</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OKR Tracking System</span>
    </mat-toolbar>

  <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
