/* You can add global styles to this file, and also import other style files */
/* Importing SCSS file. */
@import '../src/scss/variables';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display : block;
}

.techniti-okr-data-table {
  width : 100%
  //padding : 30px
}

.techniti-okr-container {
  display : flex;
  //padding : 30px
  justify-content: space-evenly;
}

.techniti-okr-form-field {
  display : flex;
  ////padding : 30px
  //justify-content: space-evenly;
}
//"techniti-okr-form-field"



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
