<h2>My Objectives</h2>

<div>
  <label id="new-objective">Objective name: </label>
  <input #objectiveName for="new-objective"/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(objectiveName.value); objectiveName.value=''" class="add-button">
    Add objective
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
      <td mat-cell *matCellDef="let row"><textarea rows="1">{{row.details}}</textarea></td>
    </ng-container>

    <!-- Delete Flag Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="delete(row.id)"
                class="delete"
                title="delete objective">
                    <i class="bi bi-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data?.length"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>


<hr/>


<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Column heading</th>
    <th scope="col">Column heading</th>
    <th scope="col">Column heading</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-active">
    <th scope="row">Active</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <th scope="row">Default</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-primary">
    <th scope="row">Primary</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-secondary">
    <th scope="row">Secondary</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-success">
    <th scope="row">Success</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-danger">
    <th scope="row">Danger</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-warning">
    <th scope="row">Warning</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-info">
    <th scope="row">Info</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-light">
    <th scope="row">Light</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-dark">
    <th scope="row">Dark</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  </tbody>
</table>


